header#List {
  padding: 20px 0 0 20px;
  text-align: left;
}

header#List:first-child {
  padding: 3.5vw 0 0 3.5vw;
}

header#List input {
  display: block;
}
//This is all the site manager stuff
#SiteBuilder {
}

#SiteBuilder:first-child {
  min-height: 100%;
}

#StartDiv {
  padding: 20px 0 0 20px;
}

#Recache {
  padding: 20px 0 0 20px;
}

#AddPage {
  padding: 20px 0 0 20px;
}

#AddNewPage {
  padding: 20px 0 0 20px;
}

#AddNewSubPage {
  padding: 20px 0 0 20px;
}

#EditSiteSection {
  padding: 20px 0 0 20px;
}

#NewSectionDiv {
  padding: 20px 0 0 20px;
}

#EditSiteSections {
  padding: 20px 0 0 20px;
}

#EditSitePages {
  padding: 20px 0 0 20px;
}

#SectionOrdering {
  padding: 20px 0 0 20px;
}

#EditPage {
  padding: 20px 0 0 20px;
}

#EditSection {
  padding: 20px 0 0 20px;
}

#AddSiteSectionForm {
  padding: 20px 0 0 20px;
}

#EditSubPagesBlurb {
  padding: 20px 0 0 20px;
}

#EditSubPages {
  padding: 20px 0 0 20px;
}

#EditSubPage{
  padding: 20px 0 0 20px;
}

#AddSubPages {
  padding: 20px 0 0 20px;
}

#AddSubPageLinks {
  padding: 20px 0 0 20px;
}
//End Site Manager

/* User Manager */
#AddUser {
  padding: 0 0 0 40px;
}

/* end User Manager */

.Registration {

}