#Messages {
  color: maroon;
  display: inline;
  collapse: true;
}
//This is all the site manager stuff
#SiteBuilder {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#SiteBuilder div {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
}

#StartDiv {
  padding: 20px 0 0 20px;
}

#Recache {
  padding: 20px 0 0 20px;
}

#AddPage {
  padding: 20px 0 0 20px;
}

#AddNewPage {
  padding: 20px 0 0 20px;
}

#AddNewSubPage {
  padding: 20px 0 0 20px;
}

#EditSiteSection {
  padding: 20px 0 0 20px;
}

#NewSectionDiv {
  padding: 20px 0 0 20px;
}

#EditSiteSections {
  padding: 20px 0 0 20px;
}

#EditSitePages {
  padding: 20px 0 0 20px;
}

#SectionOrdering {
  padding: 20px 0 0 20px;
}

#EditPage {
  padding: 20px 0 0 20px;
}

#EditSection {
  padding: 20px 0 0 20px;
}

#AddSiteSectionForm {
  padding: 20px 0 0 20px;
}

#EditSubPagesBlurb {
  padding: 20px 0 0 20px;
}

#EditSubPages {
  padding: 20px 0 0 20px;
}

#EditSubPage{
  padding: 20px 0 0 20px;
}

#AddSubPages {
  padding: 20px 0 0 20px;
}

#AddSubPageLinks {
  padding: 20px 0 0 20px;
}
//End Site Manager

/* User Manager */
#AddUser {
  padding: 0 0 0 40px;
}

/* end User Manager */

.Registration {

}