@viewport {
  min-height: 100%;
}

body {
  color: #565656;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: White;
}

a {
  color: #00898d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.SmallLinkBox {
    background-color: #FFFFFF;
    border: 1px solid #D8E5D9;
    display: inline;
    font-size: 10px;
    
    
    padding: 5px 5px 5px 5px;
    text-transform: capitalize;
    width: 180px;
}

div.SmallLinkBox a:hover {
    color: #F7B152;
    text-decoration: underline;
}

form {
    margin: 0;
    padding: 0;
    z-index: 2;
}

h1 {
    font-size: 1.1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #00686c;
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #00686c;
}

h1, h2, h3, h4, h5, h6 {
    color: #00686c;
    font-weight: 900;
    padding: 0px 0px 0px 0px;
    margin: 2px 0px 10px 0px;
    text-transform: capitalize;
}

h2 {
    font-size: 1.0em;
}

h3 {
    font-size: .9em;
}

h4 {
    font-size: .8em;
}

h5 {
    font-size: .7em;
}

h6 {
    font-size: .6em;
}

hr {
    color: #f3f3f3;
    width: 100%;
    border: none;
    height: 1px;
}

img {
    border: none;
}

input {
    background-color: #ffffff;
    border: 1px solid #999999;
    color: #0d0d0d;
    font-size: 95%;
    margin: 0px 0px 4px 0px;
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    width: 150px;
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
    border: none;
    width: 15px;
    height: 15px;
}

input[type="radio"] {
    margin: 0;
    padding: 0;
    border: none;
    width: 15px;
    height: 15px;
}

input[type="text"]:focus, textarea:focus {
    border: 1px solid #917e70;
}

label {
    font-size: .9em;
    font-weight: normal;
    display: block;
    color: #000000;
    margin: 0;
    padding: 4px 0px 0px 0px;
}

li {
    padding: 0px 0px 3px 0px;
}

p {
    padding: 0;
}

select {
    border: 1px solid #d8e5d9;
    margin: 2px 0px 6px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 95%;
}

textarea {
    background-color: #ffffff;
    border: 1px solid #999999;
    color: #0d0d0d;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 95%;
    margin: 0px 0px 4px 0px;
    padding: 0px 0px 0px 0px;
    width: 95%;
}

ul {
    color: #565656;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 4px;
}

.AlertText {
  color: #990000;
}

.LabelInline {
    display: inline;
}

.RadioButton {
    width: 15px;
    border: none;
}

.SmallLink {
    font-size: small;
}

.SmallWhiteButton, .SubmitButton {
    background-color: #ffffff;
    border: 1px solid #d8e5d9;
    color: #00898d;
    font-size: 100%;
    font-weight: bold;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 4px 4px 4px 4px;
    width: auto;
}

.SmallWhiteButton:hover, .SubmitButton:hover {
    background-color: #00898d;
    color: #ffffff;
}

.Validate {
    display: none;
}