Options -Indexes
AcceptPathInfo On
DirectoryIndex index index.html index.php index.xhtml

<FilesMatch ^index$>
ForceType application/x-httpd-php
SetHandler application/x-httpd-php
</FilesMatch>

php_value auto_prepend_file '/home/vol13_7/byethost13.com/b13_33061184/htdocs'

php_value session.use_trans_sid 0
